/* menu---bar */

div{
    background-color: rgb(57, 57, 235);
}
*{
    padding: 0;
    margin: 0;
}
nav{
    margin: 0 20%;
    /* text-align: center; */
    background-image: linear-gradient(blue,black);
}
nav ul{
    display: inline-flex;
    list-style: none;
}
/* nav ul li{
    padding: 10px;
    width: 100px;
    margin: 5px;
    font-size:large;
    color: aliceblue;
} */
nav ul li{
    padding:5% 15%;
    
    
    width: 0%;
    margin: 0%;
    font-size:large;
    color: aliceblue;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* end of---menu */

header{
    height: 60vh;
    margin:0 20% ;
    padding-left: 23%;
    background-image: url(https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&w=1500);
}
header h1{
    padding-top: 15%;
}
header span{
    color: rgb(7, 88, 88);
}
header p{
    color: antiquewhite;
}
section{
    /* height: 50vh; */
    margin: 0 20%;
    background-color: rgb(206, 240, 175);
    padding: 2% 3%;
}